{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}"
      rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
    <h1>Ваши кредиты</h1>

    <div>
        <div class="alert" id="result-alert" role="alert" style="display: none">
            <p id="result-text">Текст</p>
        </div>

        {% if credits_data|length == 0 %}
        <h3>Кредиты отсутствуют</h3>
        {% else %}

        <div id="accordion mb-5 mt-5">
            {% for elem in credits_data %}
            <div class="card mt-2">
                <div class="card-header" data-bs-toggle="collapse" aria-expanded="true"
                     href="#collapse{{credits_data.get(elem).get('id')}}">
                    <a class="btn">
                        {{credits_data.get(elem).get("name")}}
                    </a>
                </div>
                <div class="collapse" data-bs-parent="#accordion"
                     id="collapse{{credits_data.get(elem).get('id')}}">
                    <ul class="list-group">
                        <li class="list-group-item">Всего: <strong>{{credits_data.get(elem).get("amount")}}
                            {{credits_data.get(elem).get("amount_value")}}</strong></li>
                        <li class="list-group-item">Остаток: <strong>{{credits_data.get(elem).get("remain_cost")}}
                            {{credits_data.get(elem).get("amount_value")}}</strong></li>
                        <li class="list-group-item">Процент: <strong>{{ credits_data.get(elem).get("percent") }}
                            %</strong></li>
                        <li class="list-group-item">Ежемесячный платёж: <strong>{{ credits_data.get(elem).get("monthly_payment") }}
                            {{credits_data.get(elem).get("amount_value")}}</strong></li>
                        <li class="list-group-item">Начат: <strong>{{ credits_data.get(elem).get("date_start")
                            }}</strong>
                        </li>
                        <li class="list-group-item">За <strong>{{ credits_data.get(elem).get("credit_duration")
                            }}</strong> платеж(а/ей)
                            было выплачено <strong>{{ (credits_data.get(elem).get("total_body_pay") +
                                credits_data.get(elem).get("total_percent_pay"))|round }}
                                {{credits_data.get(elem).get("amount_value")}}</strong>
                            из них:
                            <ul>
                            <li>ТЕЛО КРЕДИТА: <strong>{{ credits_data.get(elem).get("total_body_pay")}}
                                {{credits_data.get(elem).get("amount_value") }}</strong></li>
                            <li>ПЕРЕПЛАТА: <strong>{{ credits_data.get(elem).get("total_percent_pay")}}
                                {{credits_data.get(elem).get("amount_value") }}</strong></li>
                                </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <p><small><i>*Все расчёты приведены приближенно, т.к. не учитываются досрочные погашения</i></small></p>
        <button class="btn btn-primary mt-5" data-bs-target="#openModal"
                data-bs-toggle="modal" type="button" aria-expanded="true">Добавить
            кредит
        </button>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="addCreditLabel" class="modal fade"
         id="openModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Popup header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="addCreditLabel">Добавить
                        кредит</h5>
                    <button aria-label="Close" class="btn-close"
                            data-bs-dismiss="modal" type="button"></button>
                </div>
                <!-- Popup body -->
                <div class="modal-body">
                    {{credit_form.csrf_token}}
                    <form>
                        {% for field in credit_form if field.name !=
                        'csrf_token' %}

                        <div class="mb-3">
                            {{field.label(class="form-label", for=field.name,
                            autocomplete="off")}}

                            {% if field.name == 'submit' %}
                            <div class="d-grid gap-2">
                                {{field(class="btn btn-primary",
                                value="Добавить", autocomplete="off")}}
                            </div>

                            {% elif field.name == 'total_month' %}
                            {{field(class="form-control", autocomplete="off",
                            oninput="this.value=this.value.replace(/[^0-9]/g,'');",
                            maxlength=4)}}

                            {% elif field.name == 'percent' %}
                            {{field(class="form-control", autocomplete="off",
                            maxlength="7", validate="true", autocomplete="off",
                            step="0.01", type="text",
                            pattern="(^[0-9]{0,2}$)|(^[0-9]{0,2}\.[0-9]{0,5}$)",)}}

                            {% elif field.name == 'amount' %}
                            {{field(class="form-control", validate="true",
                            autocomplete="off", step="0.01", type="text",
                            pattern="(^[0-9]{0,20}$)|(^[0-9]{0,2}\.[0-9]{0,5}$)",)}}

                            {% elif field.name == 'amount_value' %}
                            {{field(class="form-select", autocomplete="off")}}

                            {% else %}
                            {{field(class="form-control", autocomplete="off",
                            maxlength=50)}}

                            {% endif %}


                            {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                            {% endfor %}
                        </div>

                        {% endfor %}
                    </form>
                </div>
                <!-- Popup footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                            type="button">Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.ru.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/credits.js') }}"></script>
{% endblock %}




