{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

<div class="container">
   <h1>Ваши кредиты</h1>

   <div>
      <div class="alert" id="result-alert" role="alert" style="display: none">
         <p id="result-text">Текст</p>
      </div>

      <h3>Кредиты отсутствуют</h3>



      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#openModal">Добавить кредит</button>
   </div>






   <!-- Modal -->
   <div class="modal fade" id="openModal" tabindex="-1" aria-labelledby="addCreditLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <!-- Popup header -->
            <div class="modal-header">
               <h5 class="modal-title" id="addCreditLabel">Добавить кредит</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Popup body -->
            <div class="modal-body">
               {{credit_form.csrf_token}}
               <form>
                  {% for field in credit_form if field.name != 'csrf_token' %}

                  <div class="mb-3">
                     {{field.label(class="form-label", for=field.name)}}
                     {% if  field.name == 'submit' %}
                     <div class="d-grid gap-2">
                        {{field(class="btn btn-primary", value="Добавить")}}
                     </div>
                     {% elif field.name == 'amount_value'  %}
                     {{field(class="form-select")}}
                     {% else %}
                     {{field(class="form-control")}}

                     {% endif %}


                     {% for error in field.errors %}
                     <div class="error">{{ error }}</div>
                     {% endfor %}
                  </div>


                  {% endfor %}
               </form>
            </div>

            <!-- Popup footer -->
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/credits.js') }}"></script>
{% endblock %}




