{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="card bg-dark">
        <video autoplay muted loop id="v" class="rounded mx-auto d-block w-100">
            <source src="{{ url_for('static', filename='video/background_main_video.mp4') }}" type="video/mp4">
        </video>

        <div class="card-img-overlay">

            <div class="row m-1">
                <div class="card col m-3">
                    <div class="row">
                        <div class="col col-md-auto">
                            <img src="{{ url_for('static', filename='img/summary.png') }}" class="card-img-top" alt="Общая финансовая картинка">
                        </div>
                        <div class="col col-lg-2">
                            <div class="card-body">
                                <h5 class="card-title">Сводка</h5>
                                <p class="card-text">Расчёты сколько всего деняк</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-1">

                <div class="card text-center col m-3 align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='img/deposits.png') }}" class="card-img-top w-auto" alt="Картинка с вкладом">
                    <div class="card-body">
                        <h5 class="card-title">Вклады</h5>
                        <p class="card-text">Инфа по вкладам</p>
                        <a href="\deposits" class="btn btn-primary">Перейти</a>
                    </div>
                </div>

                <div class="card text-center col m-3 align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='img/credits.png') }}" class="card-img-top w-auto" alt="Картинка с кредитом">
                    <div class="card-body">
                        <h5 class="card-title">Кредиты</h5>
                        <p class="card-text">Инфа по кредитам</p>
                        <a href="\credits" class="btn btn-primary">Перейти</a>
                    </div>
                </div>

                <div class="card text-center col m-3 align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='img/portfolio.png') }}" class="card-img-top w-auto" alt="Картинка с инвестициями">
                    <div class="card-body">
                        <h5 class="card-title">Инвестиции</h5>
                        <p class="card-text">Инфа по инвестициям</p>
                        <a href="\stock-portfolio" class="btn btn-primary">Перейти</a>
                    </div>
                </div>

            </div>

            <div class="input-group m-3">
                <label class="input-group-text" for="inputGroupSelect">Обновлять каждые</label>
                <select class="form-select" id="inputGroupSelect">
                    <option selected>Выберите время</option>
                    <option value="1">Не обновлять</option>
                    <option value="2">15 сек.</option>
                    <option value="3">30 сек.</option>
                    <option value="4">1 мин.</option>
                    <option value="5">5 мин.</option>
                </select>
                <span class="input-group-text input-group-lg" for="inputGroupSelect">Последнее обновление: ТУТ ВРЕМЯ</span>
            </div>

        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}




