body {
   background :#f0f0f0;
   font-size: 17px;
   line-height: 1.4;
   font-family: 'Jaldi', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    /*max-width: 250px;*/
    min-width: 300px;
    position: relative;
    margin: 20px 20px 20px 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
}


span {
    display: block;
}
.card-summary {
    padding: 5% 5% 3% 5%;
}
.card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-color: rgba(white,.15);*/
    background-blend-mode: overlay;
}

.card-title {
    background: rgba(157, 187, 63, .85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
}

.card-title {
    background: rgba(157, 187, 63, .95);
}

.card-meta {
    max-height: 1em;
}



img {
    max-width: 100%; // stop images from breaking out of their bounding boxes.
}



